.dot {
    background-color: var(--bs-gray-400);
    border-radius: 50%;
    height: 9px;
    width: 9px;
    margin: 0 10px;
}

.expand_metadata {
    display: none;
    background: none;
    border: none; 
    position: relative;
    width: auto;
}

@media (max-width: 768px) {
    .expand_metadata {
        display: block;
    }
}