.cardStyle {
    width: calc(100% / 3 - 1rem);
}

.cardStyle > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .cardStyle {
        width: 100%;
        margin-bottom: 10px;
    }
}
