@font-face {
  font-family: 'OpenSansLight';
  src: url('../public/fonts/OpenSans/OpenSans-Light.ttf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url('../public/fonts/OpenSans/OpenSans-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'OpenSansSemiBold';
  src: url('../public/fonts/OpenSans/OpenSans-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('../public/fonts/OpenSans/OpenSans-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'MulishBold';
  src: url('../public/fonts/Mulish/Mulish-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

.btn-outline-primary {
  --bs-btn-color: #0095AF;
  --bs-btn-border-color: #0095AF;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0095AF;
  --bs-btn-hover-border-color: #0095AF;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0095AF;
  --bs-btn-active-border-color: #0095AF;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #0095AF;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0095AF;
  --bs-gradient: none;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.home {
  min-height: 80vh;
}

.primary {
  color: #0095AF;
}

.spinner {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

#nprogress .bar {
  background: #0095AF !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #0095AF;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #0095AF;
}

.nav-tabs {
  background-color: var(--bs-gray-100);
  border-bottom-color: transparent;
}

.nav-tabs .nav-link {
  color: black;
  border: none;
  border-bottom: 2px solid transparent;
}

.nav-tabs .nav-link:hover {
  color: gray;
  border-bottom: 2px solid gray;
}

.tabs {
  width: calc(100% - 25rem);
}

@media (max-width: 768px) {
  .tabs {
    width: 100%;
  }
}

.tabs img {
  max-width: 100%;
}

code {
  display: inline-table;
  overflow-x: auto;
  padding: 2px;
  color: #333;
  background: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.copy-button {
  fill: var(--bs-gray-500);
  transition: fill 0.5s ease-in-out;
}

.copy-button:hover {
  fill: black;
}

.my-accordion .accordion-button {
  text-transform: capitalize;
}

.content {
  width: 60%;
}

@media (max-width: 768px) {
  .search-results {
    width: 100%;
    min-width: 0;
  }
}

h2 {
  font-family: MulishBold, sans-serif;
  font-weight: 700;
  font-size: 36px;
}

h4 {
  font-family: OpenSansBold, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.tabs, label, p, a, td {
  font-family: OpenSansRegular, sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.value, .value option {
  font-family: OpenSansSemiBold, sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

.resource-category, .resource-date-published, th, h3 {
  font-family: OpenSansSemiBold, sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
}

.versions-table-title {
  font-size: 1.5rem;
}

.accordion {
  --bs-accordion-btn-color: #0095AF;
}

.value-label, .accordion-header>button {
  font-family: OpenSansBold, sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.search-result__description {
  word-wrap: break-word;
}

@media (max-width: 1222px) {
  .filters {
    width: 100%;
    min-width: 0;
  }

  .content {
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (max-width: 768px) {
  .results-sortBy-row {
    margin: 5px 0px;
  }

  h2 {
    font-size: 24px;
  }
}

@media (max-width: 575px) {
  .home, .resources_page_container {
      max-width: 540px;
  }
}

@media (max-width: 425px) {
  .value-label, .value, .accordion-header>button, label, p, .tabs, td  {
    font-size: 0.875rem;
  }

  h4, .versions-table-title {
    font-size: 1.25rem;
  }

  .gem5-logo {
    height: 208px;
    width: 200px;
  }

  .resource-category, .resource-date-published, th {
    font-size: 1rem;
  }
}
